* {
    margin:0;
    padding:0;
}

html, body, #root, #root>div .App {
    height: 100%;
    width: 100%;
}

.App {
    position: relative;
    overflow-x: hidden;
}

body {
    background-color: rgb(217, 239, 245);
}
