* {
    margin:0;
    padding:0;
}

html, body, #root, #root>div .App {
    height: 100%;
    width: 100%;
}

.App {
    position: relative;
    overflow-x: hidden;
}

body {
    background-color: rgb(217, 239, 245);
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-family: 'Courier New', Courier, monospace;
}

.scrollable-container {
    min-height: 92vh;
}

.screen-height-container {
    height: 92vh;
    height: calc(var(--vh, 1vh) * 92);
}