* {
    margin:0;
    padding:0;
}
html, body {
    height:100%;
    width:100%;
}

.canvas-container {
    display: flex;
    justify-content: center;
}
canvas {
    background: lightblue;
    margin: auto;
}

.current-user-item {
    color: red;
}
