.game-container {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.canvas-container {
    display: flex;
    justify-content: center;
}
canvas {
    background: lightblue;
    margin: auto;
}

.controls {
    display: flex;
}


.button {
    margin: 0.5em 1em 0.1em 1em;
    padding: 0.7em;
    cursor: pointer;
    border: 1px solid #777;
    text-decoration: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    display: block;
    text-align: center;
    width: 120px;
    text-transform: uppercase;
}

.controls-container {
    margin: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.secondary-button {
    background-color: rgb(212, 212, 212);
    color: black;
}
.secondary-button:hover {
    background-color: rgb(175, 175, 175);
}
.primary-button {
    background-color: #008080;
    color: white;
}
.primary-button:hover {
    background-color: #005555;
}


.gameover-message {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0.8em auto 0 auto;
}


/* Comands Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 120px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/* Modal Content */
.modal-content {
    background-color: #eee;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding: 2em 1.5em 1.5em 1.5em;
    box-sizing: border-box;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    position: relative;
}
.modal-content p {
    margin-bottom: 1em;
}

.command {
    display: flex;
    align-items: stretch;
    margin-bottom: 0.4em;
    border: 1px solid #333;
}
.command-key {
    border-right: 1px solid #333;
    padding: 1em;
    font-weight: 900;
    background-color: rgb(199, 199, 199);
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}
.command-description {
    padding: 1em;
    width: 70%;
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    .command {
        flex-direction: column;
    }
    .command-key {
        border-right: none;
        border-bottom: 1px solid #333;
        width: 100%;
    }
    .command-description {
        width: 100%;
    }
}
