.message-popup {
    position: absolute;
    width: 300px;
    border:1px solid rgb(238, 138, 138);
    background-color:  rgb(243, 196, 196);;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    top: 10px;
    right: -310px;
    transition: right 0.5s;
}

.opened {
    right: 10px;
}