.header-container {
    background-color: teal;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: 8vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 8vh;
}


.menu-item {
    color: white;
    text-decoration: none;
    padding: 0.8em;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}
.menu-item:hover {
    background-color: rgb(0, 97, 97);
}
.menu-item span {
    margin-right: 0.5em;
}


.user-info {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.user-info:not(.guest) {
    padding: 0.6em;
}
.user-info:not(.guest):hover {
    background-color: rgb(0, 97, 97);;
}
.user-info img {
    width: 2em;
    border-radius: 100%;
}
.user-name {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
    margin-left: 0.5em;
}


.navbar-right {
    display: flex;
    align-items: center;
}
.navbar-login-btn {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 1em;
    margin-left: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

/* Phone Sidebar Nav */

/* .hide-mobile {
    display: none;
} */

@media only screen and (min-width: 501px) {
    .show-desktop {
        display: flex;     /* to override display:none */
    }
    .hide-desktop {
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    .hide-mobile {
        right: -65%;
        visibility: hidden;
    }

    .header-container {
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 2em;
    }
    header {
        visibility: visible;
        flex-direction: column-reverse;
        justify-content: flex-end;
        position: fixed;
        width: 65%;
        top: 0;
        right: 0;
        text-align: left;
        background: rgb(36, 41, 41);
        height: 100%;
        z-index: 7;
        padding: 1.2em 2em 0 2em;
        box-sizing: border-box;
        transition: right 0.4s, visibility 0.4s;
    }
    .navbar-right, .user-info:not(.guest) {
        margin-bottom: 1em;
        border-bottom: 1px solid white;
        padding: 0.2em 0.5em 1em;   
    }

    .exit-icon {
        align-self: flex-end;
        margin-bottom: 1.5em;
    }
} 

@media only screen and (max-width: 400px) {
    .hide-mobile {
        right: -100%;
    }
    header {
        width: 80%;
    }
}