.header-container {
    background-color: teal;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 8vh;
}


.menu-item {
    color: white;
    text-decoration: none;
    padding: 0.8em;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}
.menu-item:hover {
    background-color: rgb(0, 97, 97);
}
.menu-item span {
    margin-right: 0.5em;
}


.user-info {
    display: flex;
    align-items: center;
    padding: 0.6em;
    text-decoration: none;
}
.user-info:not(.guest):hover {
    background-color: rgb(0, 97, 97);;
}
.user-info img {
    width: 2em;
    border-radius: 100%;
}
.user-name {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
    margin-left: 0.6em;
}


.navbar-right {
    display: flex;
    align-items: center;
}
.navbar-login-btn {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 1em;
    margin-left: 1em;
    font-weight: 600;
    text-transform: uppercase;
}