.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 92vh;
    font-family: 'Courier New', Courier, monospace;
}

.profile-card {
    width: 500px;
    background-color: #eee;
    padding: 1.2em;
    box-sizing: border-box;
    border: 1px solid rgb(190, 190, 190);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2em;
}
.profile-avatar {
    display: flex;
    align-items: center;
}

.profile-avatar img {
    width: 3em;
    border-radius: 100%;
    margin-right: 0.5em;
}

.joined-date {
    text-align: right;
}


/* Body */

.profile-body {
    width: 460px;
    margin: auto;
}

.profile-statistics {
    background-color: #fff;
    border: 1px solid rgb(190, 190, 190);
    padding: 1.2em;
}

.active2 {
    border-color: black !important;
    background-color: #008080;
    color: white;
}


/* Logout button */
.logout-button {
    margin-top: 1em;
    float: right;
    width: 30%;
    padding: 0.6em;
    cursor: pointer;
    border: 1px solid #777;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}