:root {
    --table-headers-height: 50px;
    --table-cell-height: 50px;
}

.table-container {
    position: relative;
    padding-top: var(--table-headers-height);
    box-sizing: border-box;
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    /* border: 1px solid black; */
}

table {
    width: 100%;
    border-collapse: collapse;
}



/* Columns */
tr td:first-child, tr th:first-child { /* First column */
    width: 20%;
    text-align: center;
}
tr td:nth-child(2), tr th:nth-child(2) { /* Second column */
    padding-left: 1.7em;
    width: 40%;
}
tr td:nth-child(3), tr th:nth-child(3) { /* Thirdd column */
    width: 40%;
    padding-left: 1.7em;
}


/* Cells */
th {
    color: white;
    text-align: left;
    font-size: 1em;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    height: var(--table-headers-height);
    box-sizing: border-box;
}

td {
    font-size: 1em;
    height: var(--table-cell-height);
    box-sizing: border-box;
}

.table-body tr:not(:last-child) {
    border-bottom: 1px solid black;
}


/* Fixed headers */
.table-head {
    position: absolute;
    width: 100%;
    height: var(--table-headers-height);
    top: 0;
    left: 0;
    background-color: #222;
    box-sizing: border-box;
}

.table-body {
    display: block;
    height: calc(var(--table-cell-height) * 10 + 1px );
    box-sizing: border-box;
    overflow-y: overlay;  /* other option could be auto */
    overflow-x: hidden;
    background-color: #eee;
    border: 1px solid #555;
}

.smooth-scroll {
    scroll-behavior: smooth;
}


/* Decorations */


.current-user-row td:nth-child(2) {
    font-weight: 900;
}

.first {
    background-color: rgba(255, 217, 0, 0.5);
}
.second {
    background-color: rgba(192, 192, 192, 0.5);
}
.third {
    background-color: rgba(199, 90, 0, 0.5);
}
.current-user-row {
    background-color: rgba(205, 92, 92, 0.637);
}
.first td:first-child, .second td:first-child , .third td:first-child  {
    font-weight: 900;
    font-size: 1.3em;
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    text-decoration: underline;
}


/* Scrollbar */
::-webkit-scrollbar {   /* width */
    width: 10px;
}
::-webkit-scrollbar-track {  /* Track */
    background: rgb(206, 206, 206);
    border-left: 1px solid #555;
}
::-webkit-scrollbar-thumb { /* Handle */
    background: #888;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #555;

}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
}




/* Scroll buttons */

.scroll-buttons-container {
    position: absolute;
    bottom: 0.5em;
    right: 1em; 
    display: flex;
    flex-direction: column;
}

.scroll-button {
    width: 2em;
    height: 2em;
    margin-top: 0.4em;
    cursor: pointer;
}
.scroll-to-top circle {
    fill: rgb(54, 54, 54)
}
.scroll-to-user circle:first-child {
    fill: rgb(37, 37, 37);
}

/* Tabs */

.ranking-buttons {
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: space-between; 
/*     border-radius: 1em 1em 0 0;
    overflow: hidden; */
}

.tab {
    width: 50%;
    padding: 0.8em 0;
    cursor: pointer;
    border-color: #777;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

.rank-tab.active {
    border-color: black !important;
    background-color: #444;
    color: white;
}

.table-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52%;
}

@media only screen and (max-width: 350px) {
    :root {
        --table-headers-height: 40px;
        --table-cell-height: 40px;
    }

    th, td {
        font-size: 0.9em;
    }
    .first td:first-child, .second td:first-child , .third td:first-child {
        font-size: 1.1em;
    }
    .scroll-button {
        width: 1.7em;
    }
}

